@media (max-width: 400px) {
    /* main, .container {
        width: 310px;
        margin: auto;
    } */
    /*********************************************
    *          Estilos Header
    **********************************************/
    
    header nav ul {
        flex-wrap: wrap;
    }
    header nav ul li {
        width: 25%;
        padding: 0;
        margin-bottom: 15px;
    }    
    
    /************* Fin Header *************/
    .excerpt {
        width: 85% !important;
    }
    .related {
        flex-direction: column;
        align-items: center;
    }
    .widget {
        padding-bottom: 20px;
    }
    .widget:first-of-type {
        padding-top: 20px;
    }
    
    /*********************************************
    *          Estilos Categoria
    **********************************************/
    

    .place img {
        width: 100%;
    }
    .place:first-of-type {
        border-top: #1f1f1f dotted 1px;
        padding-top: 20px;
    }
    .place .rigth p, .place .rigth .h2 {
        text-align: center !important;
        margin: 15px 0;
    }
    
    /************* Fin Categoria *************/
    
    /*********************************************
    *          Estilos Enlaces
    **********************************************/
    
    .enlace .left {
        width: 45%;
        margin-right: 20px;
    }
    .enlace .left img{
        width: 100%;
    }
    .enlace .rigth {
        width: 55%;
    }
    .enlace .rigth h2.h2 {
        font-size: 14px;
    }
    .enlace .rigth p {
        display: none;
    }
    
    /************* Fin Enlaces *************/
}