@import 'reset';
@import 'laptop';
@import 'tablet';
@import 'movil';

@font-face {
    font-family: 'Lobster';
    src: url('lobster.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('poppins.ttf');
}

body {
    height: 100vh;
    color: #1f1f1f;
    font-family: 'Open Sans';
    line-height: 1.6rem;
}
main, .container {
    width: 90%;
    max-width: 960px;
    margin: auto;
}
.mainimg {
    width: 100%;
}

a {
    text-decoration: none;
    color: #1f1f1f;
}
a:visited {
    color: #1f1f1f;
}
/*********************************************
*          Estilos Header
**********************************************/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


header {
    height: auto;
    margin-bottom: 30px;
    padding: 30px 0 30px;
    width: 100%;
    background-color: black;
    color: white;
}
.container.header .logo{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
header img {
    width: 50px;
    /*margin-bottom: 15px;*/
    margin-right: 8px;
    display: inline-block;
}
header a {
    color: #fff;
}
header a:visited {
    color: #fff;
}
header p.subtitle {
    font-size: 1.6rem;
    font-weight: 100;
    letter-spacing: 0.4rem;
}
header h1 {
    letter-spacing: 0.4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4rem;
    margin-bottom:1.2rem;
    display: inline-block;
    font-weight: 700;
}

div.divider {
    height: 1px;
    border-bottom: dotted grey 1px;
}
/************* Fin Header *************/

/*********************************************
*          Estilos Main
**********************************************/

main nav {
    /* background-color: red; */
    padding: 15px 0;
}
main nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main nav ul li{
    /* display: flex; */
    list-style: none;
    padding: 10px 12px;
    border: solid 1px black;
    border-radius: 8px;
    text-align: center;
    width: 92px;
    margin: 3px;
}
main nav a {
    text-decoration: none;
}
main nav a:visited {
    color: #1f1f1f;
}
main nav ul li:hover {
    transition-property:all;
    transition-duration: 0.5s;
    background-color:rgb(235, 179, 11);
    font-weight: 700;
}
main .container h1 {
    font-size: 46px;
    font-family: 'Lobster';
    margin-bottom: 25px;
}


/************* Fin Main *************/



/*********************************************
*          Estilos Generales
**********************************************/

.h2 {
    font-size: 18px;
    font-weight: 700;
}
p {
    margin-bottom: 20px;
}
.centered {
    display: block;
    margin: auto;
}
.text-center {
    text-align: center;
}
/************* Fin Generales *************/

/*********************************************
*          Estilos articulo
**********************************************/
article img:first-of-type {
    margin: 25px auto;
}
.mujer img {
    width: 90%;
}
.excerpt {
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    width: 65%;
    margin: 15px auto;
    line-height: 1.6rem;
}
.related {
    display: flex;
    justify-content: space-between;   
    margin: 30px auto; 
}
.widget {
    margin-bottom: 10px;
}
a div.widget p {
    text-decoration: none;
}

.widget img {
    width: 100%;
}
.widget h2 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.widget p {
    text-align: center;
}
.relacionado {
    width: 220px;
}
.relacionado .widget img {
    height: 120px;
    margin-bottom: 0;
}
.video {
    text-align: center;
}
.video iframe {
    width: 90%;
    aspect-ratio: 16 / 9;
}
.related {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

div.relart img {
    clip-path: ellipse(100% 100% at 50% 100%);
    height: 150px;
}
div.relart {
    -webkit-box-shadow: 0px 11px 16px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 16px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 16px -7px rgba(0,0,0,0.75);
    border-radius: 8px;
    margin-top: 20px;
    width: 260px;
}
div.relart p {
    padding: 8px;
    margin: 10px;
}
/************* Fin articulo *************/
/*********************************************
*          Estilos Categoria
**********************************************/
@media (max-width: 700px) {
    main.categoria .place {
        flex-direction: column;
        align-items: center !important;
    }
    .place p, .place h2 {
        text-align: center !important;
    }
}
main.categoria .place {
    display: flex;
    gap: 20px;
    align-self: flex-start;
}
main.categoria .place img {
    width: 300px;
    display: inline;
}
.place {
    margin-bottom: 35px;
}
a div.place p {
    text-decoration: none;
}
@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.categoria img, .index img {
    animation: grow 1s ease-in-out;
}
.place .rigth p, .place .rigth .h2 {
    text-align: left;
}
.place h2 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.place {
    border-bottom: #1f1f1f dotted 1px;
    padding-bottom: 20px;
}
.place p {
    text-align: center;
}

/************* Fin Categoria *************/

div.javascriptCode {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 15px;
}
div.javascript {
    background-color: burlywood;
    border-radius: 8px;
    padding: 12px;
    margin: 20px 0;
}

/*********************************************
*          Estilos ENLACES
**********************************************/
.enlace {
    display: flex;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: dotted black 1px;
    position: relative;
    animation: slide 0.3s linear infinite;
    animation-iteration-count: 1;
}

.enlaces .enlace img{
    /* width: 280px; */
    margin-right: 20px;
    display: block;
    margin: auto;
}
.enlace .rigth{
    max-width: 90%;
}

@keyframes slide {
    0% {
        left: 100%;
    }
    100% {
        left: 0; 
    }
}
@media (max-width: 600px){
    .enlace {
        display: flex;
        flex-direction: column;
        width: 95%;
    
    }
    .rigth {
        max-width: 90%;
        text-align: center;
    }
    .enlace .left {
        max-width: 90%;
        margin: auto;
    }
}
@media (max-width: 800px) AND (min-width:601px) {
    .enlace img {
        max-width: 200px;
    }
}

/************* Fin ENLACES *************/

/*********************************************
*          Estilos PRESENTACION
**********************************************/

.logoanimado {
    display: block;
    margin: auto;
    width: 250px;
}
.bouncein {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
} 
/************* Fin PRESENTACION *************/

/*********************************************
*          Estilos FOOTER
**********************************************/

footer {
    /* position: relative; */
    bottom: 0;
    width: 100%;
    background-color: #1f1f1f;
    color: #fff;
    margin-top: 30px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div.container, header div.container {
    text-align: center;
}
footer img {
    width: 50px;
}
footer p {
    text-align: center;
    padding: 10px;
    display: block;
}
footer div.links nav ul li a {
    color: #fff;
}
footer div.links nav ul li {
    display: inline;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
    margin: 5px;
    width: 90px;
    text-align: center;
}
@media (max-width: 375px){
    div.links {
        width: 300px;
    }
}
footer div.links nav {
    padding-top: 20px;
}
footer div.links nav ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    
}


/************* Fin FOOTER *************/