@media (min-width: 401px) and (max-width: 780px) {
    /* main, .container {
        width: 460px;
        margin: auto;
    } */
    /*********************************************
    *          Estilos Estilos Header
    **********************************************/
    
    header nav ul li {
        width: 15%;
    }
    .container {
        padding: 30px;
    }
    header nav ul {
        flex-wrap: wrap;
    }
    header nav ul li {
        width: 15%;
        padding: 0;
        margin-bottom: 15px;
    }
    
    /************* Fin Estilos Header *************/
    
    .widget {
        width: 180px;
    }
    .widget img {
        height: 100px;
    }
    
    /*********************************************
    *          Estilos Categoria
    **********************************************/
    
    .place {
        width: 25%;
    }
    .place {
        width: 100%;
        display: flex;
    }
    .place .left {
        width: 30%;
    }
    .place .rigth {
        width: 70%;
        margin-left: 20px;
    }
    .place img {
        width: 100%;
    }
    
    /************* Fin Categoria *************/
    
    /*********************************************
    *          Estilos Enlaces
    **********************************************/
    
    .enlace .left {
        width: 45%;
        margin-right: 20px;
    }
    .enlace .left img{
        width: 100%;
    }
    .enlace .rigth {
        width: 55%;
    }
    
    /************* Fin Enlaces *************/
}